stack_name_base: "review-app"

embedding:
  model_id: "amazon.titan-embed-text-v2:0"
  model_arn: "arn:aws:bedrock:us-east-1::foundation-model/amazon.titan-embed-text-v2:0"

kb:
  chunking_strategy: "FIXED_SIZE"
  max_tokens: "512"
  overlap_percentage: "20"
  num_chunks: "15"

llm:
  model_id: "us.amazon.nova-pro-v1:0"
  model_arn: "arn:aws:bedrock:us-east-1::foundation-model/us.amazon.nova-pro-v1:0"

frontend:
  cognito_pool_name: "review-app-cognito-user-pool"